<header>
  <h1>
    Game of Life
  </h1>
  <h2>
    <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%B3%D1%80%D0%B0_%C2%AB%D0%96%D0%B8%D0%B7%D0%BD%D1%8C%C2%BB" target="_blank">
      Description WiKi
    </a>
  </h2>
</header>

<div class="parameters">
  <mat-form-field class="example-full-width">
    <mat-label>Sixe X</mat-label>
    <input matInput  maxlength="3" placeholder="ex. 150" [(ngModel)]="this.sizeX" [disabled]="!this.start">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Sixe Y</mat-label>
    <input matInput  maxlength="3" placeholder="ex. 150" [(ngModel)]="this.sizeY" [disabled]="!this.start">
  </mat-form-field>

  <button mat-button color="primary" (click)="this.startLife()">{{this.start ? 'Start' : 'Stop'}}</button>
</div>

<div *ngIf="!this.start">
<app-canvas [sizeX]=this.sizeX [sizeY]=this.sizeY>

</app-canvas>
</div>
